asgiref==3.7.2
cffi==1.16.0
cryptography==41.0.5
Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
Pillow==10.1.0
pycparser==2.21
PyJWT==2.8.0
python-decouple==3.8
python-http-client==3.3.7
pytz==2023.3.post1
sendgrid==6.10.0
shortuuid==1.0.11
six==1.16.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
typing_extensions==4.8.0
